<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Final Ubicua</title>
  <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

<div class="container">
  <div style="margin-top:50px" class="jumbotron" ng-app="asterisk_app" ng-controller="DashboardController">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#raw_data">Integrator
      </a></li>
    </ul>

    <div class="tab-content">
      </br>
      <span ng-show="in_progress" style="border-radius: 1em;" class="label label-primary pull-right">  {{seconds}} seconds </span>
      <div id="raw_data" class="tab-pane fade in active">
        <div class="row">
          <div class="col-md-2">
            <b>Archivo productos:</b>
          </div>
          <div class="col-xs-10">
            <input type="file" id="file" name="file"/>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success col-md-12" ng-click="import_products()">Importar</button>
          </div>
        </div>

        <div ng-show="in_progress" class="progress-bar progress-bar-striped active" role="progressbar"
             aria-valuenow="{{in_progress/10}}" aria-valuemin="0" aria-valuemax="100" style="width:{{in_progress/10}}%">
          {{in_progress/10}}%
        </div>

      </div>
    </div>
  </div>
</div>

<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../bower_components/angular/angular.min.js"></script>

<script src="app_magento.js"></script>
</body>
</html>
